body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: green;
}


input[type=text] {
    width: 50%;
    height: 4cm;
    
}

.editor {
  display: flex;
  align-items: center;
  
}

.editor label {
    margin-right: 10px;
}

.outputBoxes {
  display: flex;
  align-items: center;
  
}

.outputBoxes label {
    margin-right: 10px;
}

